<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/kaltura-theme.css' />
</head>

<body>
  <h2 style="text-align:center; margin-top: 10px;">
    Using an entry as a template for Kaltura Meetings Recording:
  </h2>
  <ol>
    <li>Start a meeting: <a href="<%=adminUrl%>">Here</a></li>
    <li>Record the meeting</li>
    <li>Verify in the KMC</li>
  </ol>

</body>

</html>