<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/kaltura-theme.css' />
</head>

<body style="font-size: 250%;">
  <h2 style="text-align:center; margin-top: 10px;">
    Using an entry as a template for Kaltura Meetings Recording:
  </h2>
  <ol style="margin-left: 20px;">
    <li>Start a meeting: <a href="<%=adminUrl%>">Here</a></li>
    <li>Record the meeting</li>
    <li>Verify in the <a href="https://kmc.kaltura.com/index.php/kmcng/content/entries/list">KMC</a>
    That "The tag" has been </li>
  </ol>

</body>

</html>