<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Start Sessions Example
  </h1>
  In a real environment, you would want to handle each of 
  these links seperately.

  <a href="<%=adminUrl%>">Admin</a>
  <a href="<%=studentUrl%>">Student</a>
  
</body>
</html>